#logo{
    margin: 100px auto 20px auto;
    width: 100px;
    height: 100px;
    background: url("../../assets/img/logo.png");
    background-size: cover;
}
#webpack-multi-page{
    margin: auto;
    width: 664px;
    height: 242px;
    background-image: url("http://7u.isaacxu.com/multi-page.png");
    background-size: cover;
}
.coder-container{
    margin: 40px auto;
    padding: 60px;
    height: auto;
    width:800px;
    border-radius: 6px;
    border:1px solid #30363d;
    background-color: #161b22;
}
.nav{
    width: 80px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}
.nav li{
    list-style: none;
    height: 24px;
    line-height: 24px;
    text-align: center;
}
.nav li+li{
    margin-left: 10px;
}
